body, html, #root {
    margin:0;
    padding: 0;
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    /* background-color: rgba(0,0,0, 0.08); */
    background-color: rgba(255,255,0,0.2);
    /* margin-top: 55px; */
    /* border: 1px solid red; */
}

.navbar__container {
    width: 100%;
    /* border: 1px solid red; */
    height: 50px;
    background-color: white;
    box-shadow:0px 1px 0px rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
}
.navbar__wrapper {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* background-color: white; */
    /* box-shadow:0px 1px 0px rgba(0,0,0,.3); */
    /* left: -5px; */
    /* top: 0; */
    width: 90%;
    /* height: 50px; */
    /* margin: 0px; */
    /* position: fixed; */
}

.navbar__logo{
    height:46px;
    /* margin-right: 80%; */
}

.menu__dropdown {
    /* display: flex; */
    border-radius: 6px;
    position: fixed;
    margin-top: 5px;
    /* top: 20px; */
    /* right: 70px; */
    max-height: 150px;
    background-color: rgba(255,255,0,.2);
    height: auto;
    width: 125px;
    /* flex-direction: column; */
    /* z-index: 15; */
}

/* .menu__wrapper {
    margin-right: 3.2em;
} */

/* #menu__button:target {
    color:black;
} */

#menu__button:hover {
    cursor: pointer;
}

#menu__button {
    background-color: white;
    border: none;
}

.menu__dropdown--button:hover {
    cursor: pointer;
    transition: 0.1s ease-in;
    background-color: rgba(83,83,83,0.2);
}

.menu__dropdown--button {
    /* background-color: lightgray; */
    background-color: rgba(255,255,0,.2);
    color: rgb(235,20,20);
    border-radius: 6px;
    border: none;
    font-size: 16px;
    height: 40px;
    width: 125px;
    font-weight: bold;
}

.badroute__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(235,20,20);
    text-decoration: none;
}

.navbar__aboutme {
    /* margin-left: 50em; */
    display: flex;
}

.navbar__linkedin {
    text-decoration: none;
    color: black;
}

.navbar__github {
    text-decoration: none;
    color:black;
}

.navbar__aboutme button{
    background-color: white;
    border: none;
    text-decoration: none;
}

.navbar__createproj--button:hover {
    cursor:pointer;
}

.navbar__createproj--button {
    border: none;
    background-color: white;
}

.navbar__github:hover,
.navbar__linkedin:hover,
.navbar__logo:hover {
    cursor: pointer;
    transition: 0.1s ease-in;
    box-shadow:0px 1px 0px rgba(0,0,0,.3);
}

.login__wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    /* border: 1px solid black; */
}

.login__signup-link {
    text-decoration: none;
    color: rgb(235,20,20);
}

.login__signup-link:hover {
    font-weight: bold;
    box-shadow:0px 1px 1px rgba(0,0,0,.3);

}
.login__container p {
    margin-left: 15px;
}

.login__container {
    /* border: 1px solid black; */
    margin: 20px 0;
    padding: 8px;
    width: 25em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}

.login__errors {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

.login__input--email input,
.login__input--password input{
    border: none;
    height: 40px;
    background-color: rgba(255,255,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,.3);

}

.login__input--email input:hover,
.login__input--password input:hover{
    border: none;
    height: 40px;
    background-color: rgba(0,0,0,0.1);
    border-bottom: 1px solid black;
    border-radius: 5px;

}

.login__input--email,
.login__input--password{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
    font-size: 22px;
    height: 40px;
    border: none;
}

.login__buttons--container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.login__buttons {
    width: 125px;
    margin: 10px 0px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: #ff0;
    background-color: #F00;
}

.login__buttons:hover{
    cursor: pointer;
    transition: 0.1s ease-in;
    background-color: rgba(83,83,83,0.35);
}


.editform__wrapper{
    display:flex;
    justify-content: center;
}

.editform__header-div p{
    font-size: 22px;
    font-weight: bold;
}

.editform__header-div,
.indivproj__header--projtitle,
.indivproj__header--projtitle-desc{
    overflow-wrap: break-word;
    max-width: 60%;
}

.indivproj__header--projtitle {
    font-size: 30px;
    margin: .5em;
}

.indivproj__header--projtitle-desc{
    width:30%;
    /* border: 1px solid black; */
}

.editform__container{
    border: 1px solid black;
    width: 35%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 1.5em;
    margin: 1.5em;
    border-radius: 5px;

}

.editform__header {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.editform__container form{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 70%;
}

.editform__form input {
    width: 250px;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.3);
    background-color:rgba(255,255,0, 0.4);

}

.editform__form textarea{
    width: 90%;
    height: 100px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.3);
    background-color:rgba(255,255,0, 0.4);

}
.editform__form label{
    margin: 10px 0px;
    font-size: 20px;
    font-weight: bold;
}

#editform__button{
    width: 125px;
    margin: 10px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: #ff0;
    background-color: #F00;
}

#editform__button--delete {
    width: 150px;
    margin: 10px;
    height: 30px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    /* color: #ff0; */
    background-color: rgba(255,255,0,0);
    color: #F00;
}

#editform__button--delete:hover {
    cursor: pointer;
    transition: 0.1s ease-in;
    color: white;
    background-color: black;
}

#editform__button:hover {
    cursor: pointer;
    transition: 0.1s ease-in;
    background-color: rgba(83,83,83,0.35);
}

.indivproj__wrapper{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    /* padding: 2em; */
}

.indivproj__container{
    border: 1px solid black;
    width: 80%;
    border-radius: 5px;
    margin: 1.5em;

}

.indivproj__header{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indivproj__header--button {
    width: 175px;
    margin: 10px;
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #ff0;
    background-color: #F00;
}

.indivproj__header--button:hover{
    transition: 0.1s ease-in;
    background-color: rgba(83,83,83,0.35);
}

.task__container{
    /* border: 1px solid black; */
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;

}

.task__singleTask--card {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    border-bottom: 1px solid rgba(0,0,0,.3);

}

.task__singleTask--card-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-bottom: 1px solid rgba(0,0,0,.3); */

}

.task__singleTask--card-buttons button{
    background-color: rgba(0,0,0,0);
    border: none;
}

.task__singleTask--card-taskinfo{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    width: 100%;
}
.task__singleTask--card-taskinfo div{
    margin: 5px;
    width: 20%;
    overflow-wrap: break-word;

}
.task__card--container {
    /* border: 1px solid black; */
    width: 90%;
}

.task__create--textarea{
    resize: none;
    border: none;
    /* border-bottom: 1px solid rgba(0,0,0,.3); */
    background-color:rgba(255,255,0, 0.2);
    border-bottom: 1px solid rgba(0,0,0,.3);
    margin-left: 1em;
    margin-bottom: 1em;
    width: 300px;

}

.task__createform {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;

}

.task__createform form {
    display:flex;
    flex-direction: row;
    /* border: 1px solid black; */

}

.task__createform--left {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */

}

.task__createform--left select{
    margin: 1em 0;
    border: none;
    width: 175px;
    height: 30px;
    border-bottom: 1px solid rgba(0,0,0,.3);
    background-color:rgba(255,255,0, 0.4);
}

.task__createform--buttons {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.task__createform--buttons button:hover {
    transition: 0.1s ease-in;
    background-color: rgba(83,83,83,0.35);
}

.task__createform--buttons button{
    width: 100px;
    margin: 5px;
    height: 25px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    color: #ff0;
    background-color: #F00;
}

.task__container--addTask {
    width: 100px;
    margin: 10px;
    height: 25px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    color: #ff0;
    background-color: #F00;
}

button:hover, i:hover {
    cursor: pointer;
}

.task__container--addTask:hover {
    transition: 0.1s ease-in;
    background-color: rgba(83,83,83,0.35);
}

form textarea {
    resize: none;
}


.task__createform--errors{
    /* border: 1px solid black; */
}

.task__createform--dd-select:hover {
    cursor: pointer;


}

.task__createform--dd-select {
    margin: 1em 0;
    border: none;
    width: 200px;
    height: 40px;
    border-bottom: 1px solid rgba(0,0,0,.3);
    background-color:rgba(255,255,0, 0.4);
}

.task__createform--dd-select:focus {
    /* border: 1px solid #FF0; */
}

/* .task__createform-dd-select option::before,
.task__createform-dd-select option::after {

} */

.allprojects__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.allprojects__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* border: 1px solid black; */
    margin: 1.5em 0;
    border-radius: 5px;
}

.allprojects__projcard:hover {
    box-shadow:2px 1px 1px rgba(0,0,0,.4);

}

.allprojects__projcard--header{
    width: 80%;
    height: 90%;
}

.allprojects__projname{
    overflow-wrap: break-word;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-top: .5em
}


.allprojects__projcard {
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 5px;
    margin: 1.5em;
    width: 15vw;
    min-height: 225px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.allprojects__projcard-nav {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    object-fit: contain;
}

/* .allprojects__projcard-nav:hover {
    border-bottom: 1px solid rgba(0,0,0,.3);

} */

.allprojects__projcard--buttons-div{
    margin: 1em 0;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    border-bottom: thick double rgba(0,0,0,.1);
}
.allprojects__projcard--buttons-div button{
    background-color: rgba(0,0,0,0);
    border: none;
}

.allprojects__projcard--buttons-div button:hover{
    border-bottom: 1px solid rgba(0,0,0,.3);

}

.createProjPage__wrapper{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
}

.createProjPage__container{
    width: 30%;
    border: 1px solid black;
    padding: 1em;
    border-radius: 5px;
    width: 300px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createProjPage__container form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createProjPage__form-buttons-div {
    margin: .5em;
}

.createProjPage__form-buttons-div button{
    width: 100px;
    margin: 5px;
    height: 25px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #ff0;
    background-color: #F00;
}

.allprojects__noproj button {
    width: 225px;
    margin: 5px;
    height: 30px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    color: #ff0;
    background-color: #F00;
}

.createProjPage__header{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: .5em;
}

.createProjPage__form-textarea,
.createProjPage__form-input{
    width:90%;
    border: none;
    height: 40px;
    background-color: rgba(255,255,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,.3);
    margin: .5em;
}

.createProjPage__form-textarea{
    height: 80px;
}

.signup__wrapper {
    width:100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.signupPage__container{
    border: 1px solid black;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: .75em 0;
    padding: .75em 0;
}

.signupPage__errors{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.signupPage__container form {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupPage__form--input{
    width:90%;
    border: none;
    height: 40px;
    background-color: rgba(255,255,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,.3);
    margin: .5em;
}

.signupPage__form--button{
    width: 125px;
    margin: 5px;
    height: 30px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    color: #ff0;
    background-color: #F00;
}

.editTaskForm__button{
    width: 175px;
    margin: 5px;
    height: 30px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: #ff0;
    background-color: #F00;
}

.editTaskForm__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.editTaskForm__container{
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editTaskForm__container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.editTaskForm__inputs,
.editTaskForm__textarea{
    width:90%;
    border: none;
    height: 40px;
    background-color: rgba(255,255,0,0.4);
    border-bottom: 1px solid rgba(0,0,0,.3);
    margin: .5em;
}

.editTaskForm__textarea {
    height: 75px;
}
