/* TODO Add site wide styles */
/* .borderBlack {
    border: 1px solid black;
}

.borderRed {
    border: 1px solid red;
} */

body {
    /* background-color: rgba(0,0,0, 0.08); */
    background-color: rgba(255,255,0,0.2);
    margin-top: 55px;
    /* border: 1px solid red; */
}

.navbar__wrapper {
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items:center;
    background-color: white;
    box-shadow:0px 01px 0px rgba(0,0,0,.3);
    left: -5px;
    top: 0;
    width: 100vw;
    height: 50px;
    margin: 0px;
    position: fixed;
}

.navbar__logo{
    height:50px;
    margin-right: 80%;
}

.menu__dropdown {
    border-radius: 6px;
    position: absolute;
    top: 55px;
    right: 50px;
    max-height: 150px;
    background-color: rgba(255,255,0,.3);
    height: auto;
    width: 125px;
    display: flex;
    flex-direction: column;
    z-index: 15;
}

.menu__wrapper {
    margin-right: 3.2em;
}

#menu__button:hover {
    cursor: pointer;
}

#menu__button {
    background-color: white;
    border: none;
}

.menu__dropdown--button:hover {
    cursor: pointer;
    transition: 0.1s ease-in;
    background-color: rgba(83,83,83,0.2);
}

.menu__dropdown--button {
    /* background-color: lightgray; */
    background-color: rgba(255,255,0,.3);
    color: rgb(235,20,20);
    border-radius: 6px;
    border: none;
    font-size: 16px;
    height: 40px;
    font-weight: bold;
}

.badroute__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(235,20,20);
    text-decoration: none;
}

.navbar__aboutme button{
    background-color: white;
    border: none;
    text-decoration: none;
}

.navbar__linkedin {
    text-decoration: none;
    color: blue;
}

.navbar__github {
    text-decoration: none;
    color:black;
}

.navbar__github:hover,
.navbar__linkedin:hover,
.navbar__logo:hover {
    cursor: pointer;
    transition: 0.1s ease-in;
    box-shadow:0px 1px 1px rgba(0,0,0,.3);
}
